<!-- IF S_LINKS_ENABLED -->
<hr />
<table id="post_links_table_{postrow.POST_ID}" style="display: none;">
	<!-- IF S_LINKS_LINK_ENABLED -->
	<tr>
		<td>{L_PL_LINK}:</td>
		<td><input style="width: 100%;" type="text" value="{postrow.U_POST_LINK}" title="{L_CLICK_TO_COPY_LINK}" style="width: inherit;" onclick="this.focus();this.select();" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_LINKS_BBCODE_ENABLED -->
	<tr>
		<td>{L_PL_BBCODE}:</td>
		<td><input style="width: 100%;" type="text" value="[url={postrow.U_POST_LINK}]{postrow.POST_SUBJECT}[/url]" title="{L_CLICK_TO_COPY_BBCODE}" style="width: inherit;" onclick="this.focus();this.select();" /></td>
	</tr>
	<!-- ENDIF -->
 	<!-- IF S_LINKS_HTML_ENABLED -->
	<tr>
		<td>{L_PL_HTML}:</td>
		<td><input style="width: 100%;" type="text" value="&lt;a href=&quot;{postrow.U_POST_LINK}&quot;&gt;{postrow.POST_SUBJECT}&lt;/a&gt;" title="{L_CLICK_TO_COPY_HTML}" style="width: inherit;" onclick="this.focus();this.select();" /></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td></td>
		<td style="width: 100%; text-align: right;"><a href="#" onclick="phpbb.toggleDisplay('post_links_table_{postrow.POST_ID}'); phpbb.toggleDisplay('post_links_div_{postrow.POST_ID}'); return false;">{L_PL_HIDE}</a></td>
	</tr>
</table>
<div id="post_links_div_{postrow.POST_ID}" style="cursor: pointer;"><a href="#" onclick="phpbb.toggleDisplay('post_links_table_{postrow.POST_ID}'); phpbb.toggleDisplay('post_links_div_{postrow.POST_ID}'); return false;">{L_PL_SHOW}</a></div>
<!-- ENDIF -->