.hasjs .post_links_table {
	display: none;
}
.post_links_table {
	width: 100%;
}
.post_links_table input {
	width: 100%;
	cursor: pointer;
}

.post_links_hide {
	width: 100%;
	text-align: right;
}

.post_links_show {
	cursor: pointer;
}

.nojs .post_links_hide,
.nojs .post_links_show {
	display: none;
}
